/* Asegura que todas las capas de Swiper sean transparentes */
.swiper {
  background-color: transparent !important;
}

.swiper-wrapper {
  background-color: transparent !important;
}

.swiper-slide {
  background-color: transparent !important;
}
 